fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
alembic
psycopg2-binary
requests
sentence-transformers
numpy
faiss-cpu


pyjwt
python-multipart
python-jose[cryptography]
email-validator
